body
{
    margin-top: 50px;
    font-family: "Open Sans", "Calibri";
    font-size: 15px;
}

.navbar {
	border-bottom: none;
}

.navbar-default {
	background: #fff;
}

.container-banner {
	/*background: rgba(0, 162, 244,0.75);*/
	background:rgba(0,0,0,0.5);
	height: 500px;
	padding-top: 150px;
}

.banner {
	background: url("../img/portada/plazaarmas.jpg") no-repeat scroll center bottom rgba(255,255,255,0.8);
	width: 100%;
	height: 500px;
	overflow: hidden;
	display: block;
	background-size: cover;
}

.banner-inscripcion {
	height: 200px;
}

.banner-inscripcion .container-banner {
	height: 200px;
	padding: 25px; 
}

.titulo-principal {
	color: white;
	font-size: 3em;
	font-family: "Montserrat";
}

.color-blanco {
	color: #fff;
	font-size: 1.2em;
}

.parrafo-principal {
	margin-bottom: 1em;
}

.btn {
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	width: 200px;
	font-size: 18px;
	border-radius: 0;
	margin: .2em auto;
	font-family: "Montserrat";
}

.btn-mas{
	width: 210px !important;
	font-size: 14px !important;
}

.margen-izq{
	padding-left: 4em; 
}

.btn-cro {
	background: #fff;
	color: #444;
}

.btn-negro {
	color: #888;
	border-color: #888;
	display: block;
	margin-top: 1.5em;
}

.btn:hover, .btn-azul {
	background: rgba(0, 162, 244,1);
	color: white;
	border-color: rgba(0, 162, 244,1);
}

.oferta {
	background: rgba(0, 162, 244,0.75);
	/*border: 2px solid white;*/
	height: 250px;
	width: 250px;
	border-radius: 250px;
	margin: -50px auto 0 auto;
	position: relative;
	padding: 3.5em 2em;
	color: white;
	font-family: "Montserrat";
}
.oferta h3 {
	border-bottom: 2px solid white;
}

.tematica {
	padding: 1em 0;
	color: #444;
}

.tematica h3 {
	font-family: "Montserrat";
}

.temas {
	margin: 2em 0;
}

.temas p {
	color: #888888;
}

.eventos, .organizadores {
	padding: 3em 0 0 0;
	background-color: rgba(0, 162, 244,0.05);
	border-top: 1px solid rgba(0, 162, 244,0.15);
	border-bottom: 1px solid rgba(0, 162, 244,0.15);
}

.organizadores {
	padding: 1em 0 3em 0;
}

.sponsor {
	padding: 2em 0;
}

.sponsor .btn, .organizadores .btn {
	margin: 1.5em auto 2.5em auto;
}
.sponsor img {
	width: 120px;
	margin: 0 .5em;
	display: inline-block;
	text-align: center;
}

.montserrat {
	font-family: "Montserrat";
}

.pasos-inscripcion {
	background: rgba(0, 162, 244,1);
	border-radius: 1.5em;
	color: white;
	padding: .3em .75em;
	font-size: .8em; 
	width: 1.5em;
	height: 1.5em;
	/*display: block;*/
	/*float: left;*/
}

.titulo-derecha{
	text-align: right; 
}

.panel-customize{
	border: 1px solid rgba(193, 200, 203, 0.29);
}

.color-text{
	color: #fff;
}

.font-montserrat{
	font-family: "Montserrat";
}

.vertical-center{
	margin-top: 1.5em;
}

.panel-body-customize{
	background-color: white;
}

.icon-estilo-event{
	margin-left: 0.55em;
	font-size: 5em;
	color: #106C73;
}

.margen-arriba{
	padding-top: 1em;
}

/* Bloque jhonazsh */

.ponentes, .eventos, .organizadores{
	/*background-color: rgba(70, 70, 70, 0.15);*/
}

.contenido-tematico, .sponsor{
	/*background-color: rgba(70, 70, 70, 0.06);*/
}


.footer{
	background-color: #108a93;
}

.icon-center{
	text-align: center;
}

.icon-estilo{
	font-size: 3em;
	color: #106C73;
}

.content-event{
	text-align: center;
}

.headtitle{
	background-color: #108a93;
	border-bottom: 3px solid #106C73;
	color: white;
	width: 250px;
	margin: 0 auto;
	padding: 0.2em 1em;
	box-sizing: border-box;
}

.headevent{
	font-size: 1.3em;
}

.media-img{
	width: 60%;
	text-align: center;
}

.body-customize{
	padding-top: 1.5em; 
	font-size: 1.3em;
}

.relleno{
	padding-top: 1em;
	padding-bottom: 1em;
}

.portada{
	background: url(../img/portada/por.png) 50% 0 no-repeat fixed; 
	min-height: 300px;
}

.contenido-portada{
	position: absolute;
	width: 100%;
	top: 60px;
}

.port-text{
	color: rgb(230, 237, 215);
	text-shadow: 1px 0px 0px #595353;
}

.date-event{
	text-shadow: 1px 0px 0px #595353;
	margin-left: 50px;
	color: white;
	font-size: 1.5em;
	width: 50%;
	text-align: center;
	background-color: rgba(255, 0, 47, 0.76);
}

.contenido-true{
    background-color: rgba(16, 138, 147, 0.4);
}

.contact{
	padding: 0;
}

.contact>li{
	list-style: none;
	padding: 0.3em;
	color: white;
	letter-spacing: 1px;
}
.contact>li>a{
	color: #fff;
	font-size: 17px;
}
.contact>li>a:hover{
	text-decoration: none;
}
.redes>li:hover{
	font-weight: bold;
}
.contact>li>a:active{
	text-decoration: none;
}

.titulofooter:hover{
	color: #FFF;
	background-color: transparent;
	border: 2px solid #FFF;
}

.icono-redes{
	font-size: 25px;
}

/*CESAR*/
.titulo{
	color: #000;
}
.opciones>li>a{
	color: #777;
}
.resaltar{
	background-color: #108A93;
}
.resaltar:hover{
	background-color: #11A0AA;
}
.boton-menu:hover{
	background-color: #108A93;
	border-radius: 8px;
	color: #000;
}
.contenedor{
	/*width: 100%;
	background-color: #108A93;*/
	color: #FFF;
	/*padding: 20px;
	background-image: url(../img/portada/img01.png);*/
}
.titulo-2{
	font-size: 50px;
}
.centrar{
	text-align: center;
}
.letra-blanca{
	color: white;
}

.bordesup{
	border-top: 10px solid #108A93;
}
.bordeinf{
	border-bottom:  10px solid #108A93;
}
.boton-insc{
	/*padding: 20px;*/
	font-size: 20px;
	margin-bottom: 0px;
	background: #268C63;
	color: #FFF;
}
.boton-insc:hover{
	background: #2DA877;
	color: #FFF;
}

.imgportada{
	width: 100%;
}
.anchofull{
	margin: 0;
	width: 80%;
	left: 20px;
}
.subir{
	background: url('../img/portada/plazaarmas.png');
}
.letrasalsa{
	/*font-family: 'Salsa', cursive;*/
	color: #FFF;
}
.tabla{
	opacity: 0.8;
}
.tabla-header, .tabla-precios{
	width: 150px;
	text-align: center;
	border-bottom: 2px solid #FFF;
	color: #FFF;
	padding: 5px;
}
.tb-color{
	background-color: #108A93;
}
.tb-activo{
	background-color: #268C63;
	border-bottom: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-left: 2px solid #FFF;
}
.port-cuenta{
	color: #FFF;
	padding: 1px 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
}
.port-cuenta>h3, .port-cuenta>img{
	display: inline-block;
	vertical-align: middle;
}





/*FIN CESAR*/


/*ponentes....**********/

.centrar-boton{
	text-align: center;
}

.derecha-boton{
	text-align: right;
}

.centrar-bandera{
	text-align: center;
	margin-top: -35px;
}

.posicion-bandera{
	text-align: center;
}

.img-bandera{
	text-align: center;
	width: 45px;
}

.img-derecha{
	float: right;
	width: 3em;
	padding-top: 1.5em;
}

.caja-ponente, .caja-eventos{
	background: rgba(183, 203, 204, 0.62);

}

.color-fondo{
	background-color: #6AB6BC;
}

.page-header-custom{
	padding-bottom:9px;
	margin:40px 0 20px;
}

.caja-ponente{
	padding-top: 1.5em;
}

.caja-ponente-detalle{
	background: #F5F5F6;
	padding: 1.5em 3em;
	border-radius: 3px;
	margin-bottom: 1.5em;
}

@media screen and (min-width: 0px) and (max-width: 480px){
	.img-ponente{
		width: 70%;
	}

}

@media screen and (min-width: 480px) and (max-width: 768px){
	.img-ponente{
		width: 50%;
	}

}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.img-ponente{
		width: 100%;
	}

}
@media screen and (min-width: 1024px){
	.img-ponente{
		width: 80%;
	}

}

/*ponentes....**********/


/******* TRUJILLO **************************************/

.trujillo-tabs{
	/*background: #108A93;*/
}

.trujillo-tabs a{
	color: black;
}

.trujillo-tabs li>a{
	border-radius: 0;
}

.trujillo-tabs a:hover{
	/*color: #108A93;*/
}

.img-centrar-trujillo{
	text-align: center;
	margin: 0 auto;
	width: 400px;
	height: 250px;
}

.img-centrar-trujillo img{
	width: 100%;
	height: 100%;
}

.img-trujillo{
	border-radius: 2px;
}

@media screen and (min-width: 0px) and (max-width: 480px){
	.img-centrar-trujillo{
		width: 280px;
		height: 170px;
	}

}

@media screen and (min-width: 480px) and (max-width: 768px){
	.img-centrar-trujillo{
		width: 300px;
		height: 200px;
	}

}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.img-centrar-trujillo{
		width: 300px;
		height: 200px;
	}

}


.text-trujillo{
	margin-left: 1em;
	margin-right: 1em;
}

/******* TRUJILLO **************************************/