body
{
    padding-top: 60px;
    font-family: "Calibri";
    font-size: 16px;
}



/* Bloque jhonazsh */
.centrar{
	text-align: center;
}

.temas{
	text-align: justify;
}

.ponentes, .eventos, .organizadores{
	background-color: rgba(70, 70, 70, 0.15);
}

.contenido-tematico, .sponsor{
	background-color: rgba(70, 70, 70, 0.06);
}


.footer{
	height: 50px;
	background-color: #464646;
}

.icon-center{
	text-align: center;
}

.icon-estilo{
	font-size: 3em;
	color: rgb(139, 165, 135);
}

.content-event{
	text-align: center;
}

.headtitle{
	background-color: rgb(238, 217, 123);
	color: white;
	width: 20%;
	margin: 0 auto;
	padding: 0.2em 0;
}

.headevent{
	font-size: 1.3em;
}

/*CESAR*/
.titulo{
	color: #000;
}
.opciones>li>a{
	color: #777;
}
.resaltar{
	background-color: #108A93;
}
.resaltar:hover{
	background-color: #11A0AA;
}
.boton-menu:hover{
	background-color: #108A93;
	border-radius: 8px;
	color: #000;
}
.contenedor{
	/*width: 100%;
	background-color: #108A93;*/
	color: #FFF;
	/*padding: 20px;
	background-image: url(../img/portada/img01.png);*/
}
.titulo-2{
	font-size: 50px;
}
.centrar{
	text-align: center;
}
.letra-blanca{
	color: white;
}
.navbar{
	padding: 4px;
	border-bottom: 1px solid #108A93;
}
.bordesup{
	border-top: 10px solid #108A93;
}
.bordeinf{
	border-bottom:  10px solid #108A93;
}
.boton-insc{
	/*padding: 20px;*/
	font-size: 20px;
	margin-bottom: 0px;
	background: #268C63;
	color: #FFF;
}
.boton-insc:hover{
	background: #2DA877;
	color: #FFF;
}
.color{
	color: #108A93;
}
/*FIN CESAR*/


/*ponentes....**********/
.img-ponente{
	/*width: 180px;*/
}

.centrar-boton{
	text-align: center;
}

.centrar-bandera{
	text-align: center;
	margin-top: -35px;
	/*margin-left: 110px;*/
}

.img-bandera{
	text-align: center;
	width: 45px;
}

/*ponentes....**********/
