/* 
 * |------ Elementos CSS ------|
 */

//Variables
@import 'elementos/variables.styl'

/* Propiedades */
@import 'elementos/propiedades.styl'

/* Botones */
@import 'elementos/botones.styl'

/* Others */
@import 'elementos/others.styl'

/* Barra de Navegación */
@import 'elementos/barra-navegación.styl'

/* Banner */
@import 'elementos/banner.styl'

/* Secciones */
@import 'elementos/secciones.styl'

/* Footer */
@import 'elementos/footer.styl'

/* 
 * |------ Media Queries ------|
 */
 
/* Media Queries para index.php */
@import 'media_queries/media-queries-index.styl'

/* Media Queries para trujillo.php */
@import 'media_queries/media-queries-trujillo.styl'
