.banner
	background url('../img/portada/plazaarmas.jpg') no-repeat center bottom rgba(255,255,255,0.8)
	width 100%
	overflow hidden
	display block
	background-size cover

	.container-banner
		background rgba(0, 0, 0, 0.69)
		padding-top 150px
		padding-bottom 120px

		.titulo-principal
			color #fff
			font-size 3em

		.parrafo-principal
			margin-bottom 1em

		.parrafo-fecha
			margin-top 1em
			font-family tipoMontserrat
			font-size 1.5em

		.titulo-principal, .oferta
			font-family tipoMontserrat

		.oferta
			background rgba(0,162,244,0.75)
			height 250px
			width 250px
			border-radius 250px
			margin -50px auto 0 auto
			position relative
			padding 3.5em 2em 
			color #fff

			h3
				border-bottom 2px solid #fff

.banner-inscripcion
	height 200px
	
	.container-banner
		height 200px !important
		padding 25px !important
			