.btn
	width 200px
	font-size 18px
	border-radius 0
	margin .2em auto
	font-family tipoMontserrat
	border 2px solid #fff

.btn-no-fondo
	color #fff
	background-color transparent
	
.btn-cro 
	background #fff
	color #444

.btn-negro, .btn-negro-no
	{btnNegro}

.btn-negro-no
	&:hover
		color #888
		cursor auto

.btn-azul-no
	&:hover
		color #fff
		cursor auto

.btn-azul, .btn-azul-no
	{btnAzul}

.btn-azul:hover
		color #fff

.btn-no-fondo, .btn-cro, .btn-negro
	&:hover
		{btnAzul}

.btn-mas
	width 210px !important
	font-size 14px !important



	



