body
    margin-top 50px
    font-family "Open Sans", "Calibri"
    font-size 15px

.color-blanco 
	color #fff
	font-size 1.2em

.margen-izq
	padding-left 4em 

.montserrat 
	font-family "Montserrat"

.pasos-inscripcion 
	background rgba(0, 162, 244,1)
	border-radius 1.5em
	color white
	padding .3em .75em
	font-size .8em 
	width 1.5em
	height 1.5em

.titulo-derecha
	text-align right 

.icon-estilo
	font-size 3em
	color #106C73

.contenido-true
    background-color rgba(16, 138, 147, 0.4)

.titulofooterhover
	color #FFF
	background-color transparent
	border 2px solid #FFF

.icono-redes
	font-size 20px