.alinear-derecha
	text-align right

.alinear-centro
	text-align center

.alinear-justify
	text-align justify

.relleno-arriba-uno
	padding-top 1em

.relleno-abajo-uno
	padding-bottom 1em

.relleno-arriba-dos
	margin-top 2em

.headevent
	font-size 1.3em
