.tematica,
.eventos,
.sponsor,
.organizadores
	padding 2em 0

.tematica
	h3
		font-family tipoMontserrat

	.temas
		p
			color #888888

.sponsor, .organizadores
	.btn
		margin 0em auto 2em auto

.eventos, .tematica
	.btn 
		margin 1em auto 0em auto

.eventos, .organizadores
	background-color rgba(0, 162, 244,0.05)
	border-top 1px solid rgba(0, 162, 244,0.15)
	border-bottom 1px solid rgba(0, 162, 244,0.15)

.sponsor
	img
		width 120px
		margin 0 .5em
		display inline-block
		text-align center

.contenedor-resto 
	padding-top 1.5em
	background #6AB6BC

.caja-ponente-detalle
	background #fff
	padding 1em 3em
	border-radius 2px
	margin 0 auto 1em auto
	width 85%

	.img-derecha
		float right
		width 3em
		padding-top 1.5em

.caja-eventos
	width 70%
	margin 0 auto

	.page-header-custom
		padding-bottom 1em
		padding-left 0.8em

		h2
			margin 0
			color #fff
			font-family tipoMontserrat

	.panel-customize
		border 1px solid #fff
		padding 1em	
		border-radius 2px

		.panel-body-customize
			background-color #fff	

			.icon-estilo-event
				font-size 5em
				color #106C73
				margin-left 12px

			h3
				margin-top 0
		
.trujillo-tabs
	a
		color black

	li
		a
			border-radius 0

.img-centrar-trujillo
	text-align center
	margin 0 auto
	width 400px
	height 250px

	img
		width 100%
		height 100%

.img-trujillo
	border-radius 2px

.text-trujillo
	margin-left 1em
	margin-right 1em

