tipoMontserrat = "Montserrat"

btnAzul = @block{
	background: rgba(0, 162, 244, 1)
	color: #fff
	border-color: rgba(0, 162, 244, 1)
}

btnNegro = @block{
	color: #888
	border-color: #888
	display: block
}