<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>XXII CONEISC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>

    <link rel="stylesheet" href="css/webplatform.css" />
</head>
<body>
	<!--CESAR-->
	<div class="navbar navbar-fixed-top" role="navigation">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle colornegro" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand titulo" href="{% url 'home:home' %}">XXII CONEISC</a>
	        </div>
	        <div class="collapse navbar-collapse">
	            <ul class="nav navbar-nav pull-right opciones">
	                <li><a href="{% url 'login' %}">Inicio</a></li>
	                <li><a href="#">Ponentes</a></li>
	                <li><a href="#">Eventos</a></li>
	                <li><a href="#">Inscripciones</a></li>
	                <li><a href="#">Trujillo</a></li>
	                <li><a href="#">Contacto</a></li>
	            </ul>
	        </div>
	    </div>
	</div>
	<div class="contenedor">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="titulo-2">XXII CONEISC 2014</span>
					<h2>"Gestión del conocimiento con el desarrollo de tecnologías bajo el entorno web"</h2>
					<br>
					<div class="centrar"><button type="button" class="btn btn-default">Inscríbete</button></div>					
				</div>
			</div>
		</div>
	</div>
	<!--FIN CESAR-->

    <!-- blok de ponentes+*************-->
   	<section>
   		<div class="container">
   			<h3><span class="glyphicon glyphicon-user"></span> Ponentes </h3>
   			<br>
   			<div class="row">
   				<div class="col-xs-6 col-sm-4 col-md-3">
   					<div class="thumbnail">
   						<img src="img/ponentes/teffy.jpg" class="img-circle img-ponente" alt="">
   						<h4 class="text-center">Lic. STEPHANIE FALLA</h4>
   					</div>
   				</div>
   				<div class="col-xs-6 col-sm-4 col-md-3">
   					<div class="thumbnail">
   						<img src="img/ponentes/avid.jpg" class="img-circle img-ponente" alt="">
   						<h4 class="text-center">Phd. AVID ROMÁN</h4>
   					</div>
   				</div>
   				<div class="col-xs-6 col-sm-4 col-md-3 hidden-xs">
   					<div class="thumbnail">
   						<img src="img/ponentes/monica.jpg" class="img-circle img-ponente" alt="">
   						<h4 class="text-center">Dra. MÓNICA WODZISLAWSKI</h4>
   					</div>
   				</div>
   				<div class="col-xs-6 col-sm-4 col-md-3 hidden-xs hidden-sm">
   					<div class="thumbnail">
   						<img src="img/ponentes/nelsonpiedra.jpg" class="img-circle img-ponente" alt="">
   						<h4 class="text-center">Dr. NELSON PIEDRA</h4>
   					</div>
   				</div>
   				
   			</div>
   			<div class="centrar-boton">
   				<a href="" class="btn btn-primary"><h4>Ver ponentes &rarr;</h4></a>
   			</div>
   		</div>
   		<br>
   	</section>
    <!-- blok de ponentes**************-->

    <!-- Bloque Jhonazsh -->
	
	<section class="contenido-tematico">
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
		  				<div class="panel-body">
		  					<h1 class="centrar">1</h1>
		    				<p class="temas">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt reprehenderit eum odit, facere assumenda ducimus sit cumque numquam culpa, ratione necessitatibus placeat ab cupiditate, deserunt ea velit iste! Deserunt, distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur at repellendus nobis eveniet molestiae eos ad, in quae neque quia dignissimos. Delectus eos eveniet dignissimos mollitia tempora sequi voluptate voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, repellat quia. Non, id, cumque ab culpa quis eius consequuntur ipsum, cupiditate magni quasi sed reiciendis laboriosam est fugiat aliquid rem.</p>
		  				</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
		  				<div class="panel-body">
		  					<h1 class="centrar">2</h1>
		    				<p class="temas">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi repudiandae quod molestias quasi eligendi debitis enim ad, ducimus, dignissimos fugiat iusto maiores magnam quis inventore quo voluptatum sequi nemo ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ad, dolores sit inventore hic unde tenetur adipisci enim quis. Omnis accusamus dolorum nemo nihil quibusdam iste maiores, incidunt culpa nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eligendi cum id cumque ea, dolorem sunt qui deleniti eius esse ab, error dicta magni voluptatum officiis praesentium laboriosam, excepturi hic!</p>
		  				</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
		  				<div class="panel-body">
		  					<h1 class="centrar">3</h1>
		    				<p class="temas">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptate aperiam, quae est praesentium. Optio repudiandae officiis ipsam cupiditate sint, ipsa illo id earum sapiente nesciunt sit accusamus labore beatae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ex! Iure magni architecto, in deleniti officiis, ad porro quam molestiae odit, minima libero? Adipisci, earum sequi unde voluptatibus nemo eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis temporibus nobis fuga quae officia nemo minus excepturi quas explicabo non aut possimus, fugit, fugiat, aliquid nulla ipsam optio laudantium ullam! sdkjfhkasdf sdjfhd</p>
		  				</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>

	<section class="sponsor">
		<div class="container">
			<h3>Auspiciadores</h3>
			<div class="row">
				<div class="col-md-1">
					<img src="img/auspiciadores/microsoft-logo.png" class="img-responsive">
				</div>
				<div class="col-md-2">
					<img src="img/auspiciadores/eset_01.png" class="img-responsive">
				</div>
				<div class="col-md-2">
					<img src="img/auspiciadores/mozilla.png" class="img-responsive">
				</div>
				<div class="col-md-2">
					<img src="img/auspiciadores/certipro.png" class="img-responsive">
				</div>
				<div class="col-md-2">
					<img src="img/auspiciadores/sstarlabs.png" class="img-responsive">
				</div>
				<div class="col-md-2">
					<img src="img/auspiciadores/cjavalogo.png" class="img-responsive">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<img src="img/auspiciadores/mpclogo.png" class="img-responsive">
				</div>
				<div class="col-md-2">
					<img src="img/auspiciadores/integrity.png" class="img-responsive">
				</div>
				<div class="col-md-2">
					<img src="img/auspiciadores/plazagrau.png" class="img-responsive">
				</div>
				<div class="col-md-2">
					<img src="img/auspiciadores/devacademy.png" class="img-responsive">
				</div>
			</div>
		</div>
		<br>
	</section>

	<section class="organizadores">
		<div class="container">
			<h3>Organizadores</h3>
		</div>
	</section>

	<footer class="footer">
		
	</footer>

    <!-- *** -->

</body>
</html>