@media screen and (min-width:0px) and (max-width:480px)
	.oferta, .texto-organizador-responsive, .content-event
		display none

	.banner 
		.container-banner
			padding-top 5em
			padding-bottom 2.5em

			.titulo-principal
				font-size 2.5em

			.parrafo-principal
				font-size 1.1em

			.parrafo-fecha
				font-size 1.2em
	.logo
		display none	

	.tematica
		padding 0

		.temas-responsive
			background-color rgba(0, 162, 244,0.05)
			border-top 1px solid rgba(0, 162, 244,0.15)
			border-bottom 1px solid rgba(0, 162, 244,0.15)

		.temas
			padding-bottom 1.5em

	.texto-centro-responsive
		text-align center

	.sponsor img
		width 27.5%

	.headevent
		font-size 15px


@media screen and (min-width:480px) and (max-width:768px)
	.oferta
		display none

	.container-banner
		padding-top 5em
		padding-bottom 2.5em

	.titulo
		.ti
			display none

@media screen and (min-width:768px) and (max-width:1024px)
	.oferta
		margin-top 1em

	.container
		width 100% 

	.titulo
		.ti
			display none

@media screen and (min-width:1024px)
	.titulo
		.ti
			display none

	.container-banner
		padding-top 5em
		padding-bottom 2.5em

